{% load staticfiles %}
<style>

	.font_0 {
		font: normal normal normal 45px/1.4em raleway,sans-serif;
		color: #FFFFFF;
	}
	.font_4 {
		font: italic normal normal 40px/1.4em 'times new roman',times,serif;
		color: #FFFFFF;
	}
	h1 {
		/* margin: 0; */
		line-height: normal;
		letter-spacing: normal;
	}
	.s14label {
		font: italic normal normal 16px/1.4em 'times new roman',times,serif;
		transition: color 0.4s ease 0s;
		color: #FFFFFF;
		display: inline-block;
		margin: -webkit-calc(-1 * 2px) 2px 0;
		margin: calc(-1 * 2px) 2px 0;
		position: relative;
		white-space: nowrap;
	}

	.s14link {
		border-radius: 0;
		position: absolute;
		top: 0;
		right: 0;
		bottom: 0;
		left: 0;
		/* background-color: transparent; */
		transition: border-color 0.4s ease 0s, background-color 0.4s ease 0s;
		border: solid rgba(255, 255, 255, 1) 2px;
		/* cursor: pointer !important; */
	}
	
	.s14:active[data-state~="mobile"] .s14link, .s14:hover[data-state~="desktop"] .s14link {
		background-color: rgba(255, 255, 255, 1);
		border-color: rgba(255, 255, 255, 1);
		transition: border-color 0.4s ease 0s, background-color 0.4s ease 0s;
	}
	.s14:active[data-state~="mobile"] .s14label, .s14:hover[data-state~="desktop"] .s14label {
		color: #CCCCCC;
		transition: color 0.4s ease 0s;
	}
	
	
</style>

<div style="position: absolute;left: 0%; width: 100%; height: 85%; top: 10%; background: url('{{ STATIC_URL }}exchange/image/background.jpg'); background-size:cover ">
	
	<div style="position: absolute; top: 30%;width: 100%; height: 50%" align="center">
		<h4 style="line-height: 1.3em; text-align: center;margin-top: 23.200;margin-bottom: 3.200;" class="font_4">
			<span class="color_11">
				<span style="line-height:1.3em;">
					<span style="letter-spacing:0.1em;">The</span>
				</span>
			</span>
		</h4>
		<div>
		<div style="position: absolute; top: 90px; height: 41px; width: 20%; left: 40%; min-height: 22px;" class="s14" data-state="desktop">
			<a class="s14link" style="text-align:center;" >
				<span style="line-height: 41px;" class="s14label" id="i6uiidhylabel">Bonhut </span>
			</a>
		</div>
		</div>
		<br>
		<br>
		<br>
		<br>
		
		<h1 style="text-align: center;margin-top: 0;" class="font_4">
			<span style="letter-spacing:0.1em;">is coming</span>
		</h1>
	</div>
</div>