{% extends 'base.html' %}



{% block head_links %}
	<link href="{{STATIC_URL}}exchange/css/getskill.css" rel="stylesheet" />
{% endblock %}


{% block menu %}

	
{% endblock %}


{% block sidebar %}
<div id="sidebar" class="sidebar">
				<div class="nav-profile"  style="position: fixed;top:40px">
					<img style='height:43px; width:100%; position:relative; top:10px;'src='{{ STATIC_URL }}exchange/image/yinfu.png' ></img>
				</div>
				<div class="nav-header"  style="position: fixed; top: 100px;width:250px;background-color: rgba(245, 187, 34, 0.2);" align=center>
						<hr>Filter<hr></div>

		<div data-scrollbar='true' data-height="100%" style=" padding-bottom: 30px;">
			<ul class="nav">
			</ul>
			<ul class="nav">
			
				<li class="has-sub expand" >
						<a href="javascript:;">
						    <b class="caret pull-right"></b>
						    <i class="fa fa-music"></i>
						    <span>Instrument</span>
					    </a>
						<ul class="sub-menu" style='display:block'>
						    <li class="has-sub">
						    	<a href="javascript:;">
								    <b class="caret pull-right"></b>
								    <span>Brass</span>
							    </a>
						    		<ul class="sub-menu" style='display:block'>
									    <li class="has-sub"><a href="">Trumpet</a></li>
									    <li class="has-sub"><a href="">Horn</a></li>
									    <li class="has-sub"><a href="">Tenor trombone</a></li>
									</ul>
						    
						    
						    </li>
						    <li class="has-sub"><a href="">String</a></li>
						    <li class="has-sub"><a href="">Woodwind</a></li>
						    <li class="has-sub"><a href="">Percussion</a></li>
						    <li class="has-sub"><a href="">Chinese</a></li>
						    <li class="has-sub"><a href="">String</a></li>
						    <li class="has-sub"><a href="">Woodwind</a></li>
						    <li class="has-sub"><a href="">Percussion</a></li>
						    <li class="has-sub"><a href="">Chinese</a></li>
						    <li class="has-sub"><a href="">String</a></li>
						    <li class="has-sub"><a href="">Woodwind</a></li>
						    <li class="has-sub"><a href="">Percussion</a></li>
						    <li class="has-sub"><a href="">Chinese</a></li>
						    <li class="has-sub"><a href="">String</a></li>
						    <li class="has-sub"><a href="">Woodwind</a></li>
						    <li class="has-sub"><a href="">Percussion</a></li>
						    <li class="has-sub"><a href="">Chinese</a></li>
						    <li class="has-sub"><a href="">String</a></li>
						    <li class="has-sub"><a href="">Woodwind</a></li>
						    <li class="has-sub"><a href="">Percussion</a></li>
						    <li class="has-sub"><a href="">Chinese</a></li>
						</ul>
				</li>
			</ul>
		
		</div>
	
	</div>

{% endblock %}




{% block content %}

<div style="position: fixed; left: 0px; width:500px; height: 300px; bottom:0px; background: url('{{ STATIC_URL }}exchange/image/1.png'); background-size:cover ">

</div>
{% endblock%}