{% extends 'base.html' %}


{% block menu %}
<li class="dropdown">
	<a href="#" data-click="scroll-to-target" data-target="#" data-toggle="dropdown"> Test<b class="caret"></b></a>
	<ul class="dropdown-menu dropdown-menu-left animated fadeInDown">
		<li><a href="javascript:;"> save</a></li>
	</ul>
</li>
<li class="dropdown">
	<a href="#" data-click="scroll-to-target" data-target="#" data-toggle="dropdown"> Test<b class="caret"></b></a>
	<ul class="dropdown-menu dropdown-menu-left animated fadeInDown">
		<li><a href="javascript:;"> save</a></li>
	</ul>
</li>
	
{% endblock %}