.sidebar {
	width: 250px;
	padding-top: 40px;
	background: rgba(39, 45, 53, 0.05)
}


.sidebar .nav>li.nav-profile {
	padding: 6px;
	color: #fff;
	background: rgba(255, 126, 0, 0);
}
.toright{
	
}

.sidebar .sub-menu:before {
	background: rgba(255, 184, 0, 0);
	left: 28px;
}
.sidebar .sub-menu {
	background: rgba(242, 236, 216, 0.33);
}

.sidebar .nav>li.expand>a, .sidebar .nav>li>a:focus, .sidebar .nav>li>a:hover {
	background: rgba(224, 215, 190, 0.4);
	color: #626971;
}

.sidebar .sub-menu>li.active>a, .sidebar .sub-menu>li.active>a:focus, .sidebar .sub-menu>li.active>a:hover, .sidebar .sub-menu>li>a:focus,.sidebar .sub-menu>li>a:hover {
	color: #FF9B00;
}
a {
	-webkit-transition: color 200ms ease-in-out;
}

.sidebar .sub-menu>li>a:before {
	margin-top: -8px;
}

.sidebar .sub-menu>li>a:before {
	content: '\f13';
}