.sidebar {
	width: 18%;
	height:auto;
	padding-top: 150px;
	background: rgba(39, 45, 53, 0.05);
}


.sidebar .nav>li.nav-profile {
	padding: 6px;
	color: #fff;
	background: rgba(255, 126, 0, 0);
}
.toright{
	
}

.sidebar .sub-menu:before {
	background: rgba(255, 184, 0, 0);
	left: 28px;
}
.sidebar .sub-menu {
	background: rgba(242, 236, 216, 0.33);
}

.sidebar .nav>li.expand>a, .sidebar .nav>li>a:focus, .sidebar .nav>li>a:hover {
	background: rgba(224, 215, 190, 0.4);
	color: #626971;
}

.sidebar .sub-menu>li.active>a, .sidebar .sub-menu>li.active>a:focus, .sidebar .sub-menu>li.active>a:hover, .sidebar .sub-menu>li>a:focus,.sidebar .sub-menu>li>a:hover {
	color: #FF9B00;
}
a {
	-webkit-transition: color 200ms ease-in-out;
}

.sidebar .sub-menu>li>a:before {
	margin-top: -8px;
}

.sidebar .sub-menu>li>a:before {
	content: '\f13';
	font-size: 12px;
}

.sidebar .sub-menu>li>a {
	color: #000000;
}


.stroke {
  fill: none;
  stroke: #000;
  stroke-width: 3px;
}

.fill {
  fill: #5cd0f9;
}

.land {
  fill: #fff;
}

.land :hover {
  fill: #6c6c6c;
}

.boundary {
  fill: none;
  stroke: #969b90;
}
hr {
	margin-top: 5px; 
	margin-bottom: 5px; 
}

.sidebar .nav>li>a {
	color: #818488;
}



.w4-btn {
	border: none;
	display: inline-block;
	outline: 0;
	padding: 6px 16px;
	text-decoration: none !important;
	color: #fff;
	transition: .2s ease-out;
	cursor: pointer;
	white-space: nowrap;
}
.w4-btn:hover, .w4-btn-floating:hover, .w4-btn-floating-large:hover {
	background-color: rgba(244, 233, 202, 0.37) !important;
	box-shadow: 0px 0px 10px 5px rgba(244, 233, 202, 1);
}


.w4-btn.active {
	background-color: #FFA500!important;
}


