.is0{background:url(/static/assets/css/img/ms-passport.png) no-repeat 0 0;width:100%;height:20px;}
.is10{background-position:0 -28px;}
.is20{background-position:0 -28px;}
.is30{background-position:0 -28px;}
.is40{background-position:0 -28px;}
.is50{background-position:0 -54px;}
.is60{background-position:0 -54px;}
.is70{background-position:0 -54px;}
.is80{background-position:0 -54px;}
.is90{background-position:0 -78px;}
.is100{background-position:0 -78px;}